@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(0, 0%, 0%);
    --accent: hsl(0, 0%, 95%);
    --muted-foreground: hsl(0, 0%, 0%, 0.6);
    --muted: hsl(0, 0%, 0%, 0.1);
    --muted-background: hsl(0, 0%, 97%);
    --border: hsl(0, 0%, 80%);
    --radius: 0.5rem;
    
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
  }

  [data-mode='dark'] {
    --background: hsl(0, 0%, 1%);
    --foreground: hsl(0, 33%, 100%);
    --accent: hsl(0, 0%, 5%);
    --muted-foreground: hsl(0, 0%, 60%);
    --muted: hsl(0, 0%, 10%);
    --muted-background: hsl(0, 0%, 4%);
    --border: hsl(0, 0%, 20%);
    --radius: 0.5rem;

    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
