@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(0, 0%, 0%);
    --accent: hsl(0, 0%, 95%);
    --muted-foreground: hsl(0, 0%, 0%, 0.6);
    --muted: hsl(0, 0%, 0%, 0.1);
    --muted-background: hsl(0, 0%, 97%);
    --border: hsl(0, 0%, 80%);
    --radius: 0.5rem;
  }

  [data-mode='dark'] {
    --background: hsl(0, 0%, 1%);
    --foreground: hsl(0, 33%, 100%);
    --accent: hsl(0, 0%, 5%);
    --muted-foreground: hsl(0, 0%, 60%);
    --muted: hsl(0, 0%, 10%);
    --muted-background: hsl(0, 0%, 4%);
    --border: hsl(0, 0%, 20%);
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
